<!DOCTYPE html>
<html style="font-size: 16px;" lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>user-logout</title>
  <link rel="stylesheet" href="nicepage.css" media="screen">
  <link rel="stylesheet" href="user-logout.css" media="screen">
  <script class="u-script" type="text/javascript" src="jquery.js" "="" defer=""></script>
    <script class=" u-script" type="text/javascript" src="nicepage.js" "="" defer=""></script>
    <meta name=" generator" content="Nicepage 4.16.0, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "toolsment"
}</script>
  <meta name="theme-color" content="#478ac9">
  <meta property="og:title" content="user-logout">
  <meta property="og:description" content="">
  <meta property="og:type" content="website">
</head>

<body class="u-body u-xl-mode" data-lang="en">
  <header class="u-align-center u-clearfix u-header u-sticky u-sticky-a5e1 u-white u-header" id="sec-2b73">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-sheet-1">
      <a class="u-active-none u-align-left u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1"
        href="/"> &nbsp;<span class="u-text-custom-color-2">T</span>ools<span class="u-text-custom-color-2">M</span>ent
      </a>
      <div
        class="u-clearfix u-group-elements u-valign-top-lg u-valign-top-md u-valign-top-sm u-valign-top-xl u-group-elements-1">
        <a href="user-login.html" data-page-id="65626805"
          class="u-align-left u-border-none u-btn u-btn-round u-button-style u-custom-color-2 u-radius-11 u-text-body-alt-color u-btn-2"
          title="login/registration"><span class="u-file-icon u-icon u-text-white"><img
              src="images/1828391-1506e04e.png" alt=""></span>&nbsp;login
        </a>
        <nav class="u-align-right u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL"
          data-position="">
          <div class="menu-collapse"
            style="font-size: 1rem; letter-spacing: 0px; text-transform: uppercase; font-weight: 500;">
            <a class="u-button-style u-custom-active-border-color u-custom-active-color u-custom-border u-custom-border-color u-custom-borders u-custom-hover-border-color u-custom-hover-color u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-text-active-color u-custom-text-color u-custom-text-hover-color u-custom-top-bottom-menu-spacing u-nav-link"
              href="#" style="padding: 8px 4px; font-size: calc(1em + 16px);">
              <svg class="u-svg-link" viewBox="0 0 24 24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-ea92"></use>
              </svg>
              <svg class="u-svg-content" version="1.1" id="svg-ea92" viewBox="0 0 16 16" x="0px" y="0px"
                xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
                <g>
                  <rect y="1" width="16" height="2"></rect>
                  <rect y="7" width="16" height="2"></rect>
                  <rect y="13" width="16" height="2"></rect>
                </g>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-spacing-2 u-unstyled u-nav-1">
              <li class="u-nav-item"><a
                  class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                  href="/" style="padding: 10px 20px;">home</a>
              </li>
              <li class="u-nav-item"><a
                  class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                  href="/contact" style="padding: 10px 20px;">Contact</a>
              </li>
              <li class="u-nav-item"><a
                  class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                  href="/blogs" style="padding: 10px 20px;">Blogs</a>
              </li>
              <li class="u-nav-item"><a
                  class="u-active-palette-1-base u-border-active-palette-1-base u-border-hover-palette-1-base u-border-no-left u-border-no-right u-border-no-top u-button-style u-hover-palette-1-light-1 u-nav-link u-text-active-white u-text-grey-90 u-text-hover-white"
                  href="/about" style="padding: 10px 16px 10px 20px;">about-us</a>
              </li>
            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-expanded-width u-inner-container-layout u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-left u-nav u-popupmenu-items u-spacing-4 u-unstyled u-nav-2">
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">home</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/contact">Contact</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/blogs">Blogs</a>
                  </li>
                  <li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about">about-us</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div><span class="u-align-right u-file-icon u-icon u-icon-2"><img src="images/3237472.png" alt=""></span>
    </div>
    <style class="u-sticky-style" data-style-id="a5e1">
      .u-sticky-fixed.u-sticky-a5e1,
      .u-body.u-sticky-fixed .u-sticky-a5e1 {
        box-shadow: 2px 2px 8px 0 rgba(128, 128, 128, 1) !important
      }
    </style>
  </header>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7df8">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">Sample text. Click to select the Text Element.</p>
    </div>
  </footer>
  <section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href="https://nicepage.com/website-templates" target="_blank">
      <span>Website Templates</span>
    </a>
    <p class="u-text">
      <span>created with</span>
    </p>
    <a class="u-link" href="" target="_blank">
      <span>Website Builder Software</span>
    </a>.
  </section>

</body>

</html>